# folders/files
debug.log
/data/
config/chromedriver.json
chromedriver
.vscode/
*.pyc

# pycache
__pycache__
/__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
