{% extends "workout_lists_base.html" %}
{% block header %}
<header class="jumbotron my-4">
  <h1 class="display-3"> Hello {{ g.user['name'] }}!</h1>
  <p class="lead"> See your workout history here! You can find any of the workouts you've liked or disliked before.</p>

  <form id="engine_select_form" class="form-inline justify-content-center mr-2" action="/history" method="POST" enctype="multipart/form-data">
    <select class="form-control form-control-lg " id="dropdown_option" name="type" onChange="enableSubmit()">
      <option value="" disabled selected hidden id="hidden_selection">Choose an interaction</option>
      <option value="liked">Liked</option>
      <option value="disliked">Disliked</option>
    </select>
    <input href="#" id="find_workouts" class="btn btn-primary btn-lg ml-2" type="submit" value="View History!" onClick="findWorkouts()"> </input>
  </form>
</header>
{% endblock header %}

{% block loadingMessage %}
<h1 class="display-5" style="color:white;">Loading your history...</h1>
{% endblock loadingMessage %}
