{% extends "base.html" %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-4">Welcome to Workout Recommender!</h1>
      <p class="lead">Have an account? Log in <a href="{{ url_for('login_page') }}">here</a>.</p>
      <p class="lead display-7">We would love to have you onboard! If you have any questions, please do not hesitate to <a href="{{ url_for('contact_page') }}">contact us</a>.</p>
    </header>
    <div class="container-fluid container-scroll">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
          <div class="lead-color">
            <div class="">
              <h2 class="display-5">Account Information</h2>
              <div>
                {{ form.name.label(class='display-6') }}<br>
                {{ form.name(size=20, placeholder='Your Name') }}
                {% if form.name.errors %}
                    {% for e in form.name.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>

              <div>
                {{ form.email.label(class='display-6') }}<br>
                {{ form.email(size=20, placeholder='email@example.com') }}
                {% if form.email.errors %}
                    {% for e in form.email.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% elif email_error %}
                   <span>An account with this email has already been created</span>
                {% endif %}
              </div>

              <div>
                {{ form.password.label(class='display-6') }}<br>
                {{ form.password(size=20) }}
                {% if form.password.errors %}
                    {% for e in form.password.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>

              <div>
                {{ form.confirm_password.label(class='display-6') }}<br>
                {{ form.confirm_password(size=20) }}
                {% if form.confirm_password.errors %}
                    {% for e in form.confirm_password.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>
            </div>

            <div class="">
              <h2 class="display-5">Workout Information</h2>

              <div id='equipment_div'>
                {{ form.equipment.label(class='display-6') }}<br>
                {{ form.equipment(size=12, style='list-style: none;') }}
                {% if form.equipment.errors %}
                    {% for e in form.equipment.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>

              <div>
                {{ form.no_equipment.label(class='display-8') }}
                {{ form.no_equipment(size=12, style='list-style: none;') }}
                {% if form.no_equipment.errors %}
                    {% for e in form.no_equipment.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>

              <div id='training_type_div'>
                {{ form.training_type.label(class='display-6') }}<br>
                {{ form.training_type(size=12, style='list-style: none;') }}
                {% if form.training_type.errors %}
                    {% for e in form.training_type.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>

              <div>
                {{ form.no_training_type.label(class='display-8') }}
                {{ form.no_training_type(size=12, style='list-style: none;') }}
                {% if form.no_training_type.errors %}
                    {% for e in form.no_equipment.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>

              <h3 class="display-6">My Preferred Workout Duration Range in Minutes</h3>
              <div>
                {{ form.min_duration.label(class='display-7') }}
                {{ form.min_duration(size=5, value=1, placeholder=1) }}
                {% if form.min_duration.errors %}
                    {% for e in form.min_duration.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}

                {{ form.max_duration.label(class='display-7') }}
                {{ form.max_duration(size=5, value=120, placeholder=120) }}
                {% if form.max_duration.errors %}
                    {% for e in form.max_duration.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>
              <h3 class="display-6">My Preferred Calorie Burn Range</h3>
              <div>
                {{ form.min_calories.label(class='display-7') }}
                {{ form.min_calories(size=5, value=1, placeholder=1) }}
                {% if form.min_calories.errors %}
                    {% for e in form.min_calories.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}

                {{ form.max_calories.label(class='display-7') }}
                {{ form.max_calories(size=5, value=1300, placeholder=1300) }}
                {% if form.max_calories.errors %}
                    {% for e in form.max_calories.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>

              <h3 class="display-6">My Preferred Diffculty Range (1-5)</h3>
              <div>
                {{ form.min_difficulty.label(class='display-7') }}
                {{ form.min_difficulty(size=5, value=1, placeholder=1) }}
                {% if form.min_difficulty.errors %}
                    {% for e in form.min_difficulty.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}

                {{ form.max_difficulty.label(class='display-7') }}
                {{ form.max_difficulty(size=5, value=5, placeholder=5) }}
                {% if form.max_difficulty.errors %}
                    {% for e in form.max_difficulty.errors %}
                      <span>{{ e}} </span>
                    {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </fieldset>
        <input id='submit' name='submit' type='submit' value="Register" class="btn btn-primary btn-lg"></input>

      </form>
    </div>
  </div>

{% endblock content %}
{% block scripts %}
<script>
  function hide(div) {
    if (div.style.display == "none") {
      div.style.display =  "inline"
    } else {
      // console.log($(div).find('ul'))
      let field = div.id.substring(0,div.id.indexOf('_div'))
      let ul = document.getElementById(field)
      for (var i = 0, len = ul.childNodes.length; i < len; i++ ) {
          let li = document.getElementById(field+ '-' +i)
            li.checked = false
      }
      div.style.display = "none"
    }
  }
</script>
{% endblock scripts %}
