{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static',filename='js/overlay.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/carousel.css') }}" />

<!-- Page Content -->
<div class="container">

  <div class="container-fluid">
    <div class="row text-center">
      <div class=col>
        <!-- either getting recommendation options or interaction history options -->
      {% block header %}{% endblock %}
      </div>
    </div>
  </div>

  <!-- Workout Popup Overlay (this is hidden by default) -->
  <div id="overlay-display" class="overlay">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-1 hidden-sm"></div>
        <div class="col-lg-10 col-sm-12">
          <!-- Button to close the overlay navigation -->
          <!-- Overlay content -->
          <div class="overlay-content d-flex" style="margin: 30 30 30 30;">
            <div class="card h-100 card-overlay">
              <div class="card-body">
                <h4 id="overlay-workout-title" class="card-title display-5">Loading...</h4>
                <div class="">
                  <iframe style="width: 56vh; height: 32vh; --aspect-ratio: 3 / 4 !important;" class="card-img-top video-container" id="overlay-video" src="" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p id="overlay-workout-text" class="card-text">Loading...</p>
              </div>
              <div class="card-footer">
                <a id="like" class="btn btn-primary" user_id="{{ session['user_id'] }}">Like</a>
                <a id="dislike" class="btn btn-primary">Dislike</a>
                <a class="btn btn-primary" onclick="overlayNextVideo()">Skip</a>
                <a class="btn btn-primary" id="overlay-fb-link" href="#" target="_blank">FitnessBlender Page</a>
                <a class="btn btn-primary closebtn" href="javascript:void(0)" onclick="closePlayerOverlay()">Close</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1 hidden-sm mb-4"></div>
      </div>
    </div>
  </div>

  <!-- Page Features -->
  <div class="container">
    <div id="loading" class="text-center" style="display:none;">
      <img src="{{ url_for('static',filename='images/teodor.gif') }}" alt="loading gif" style="width:400px; height:auto;" />
      {% block loadingMessage %}{% endblock %}
    </div>
    <div id="recommendations">
      <!-- div will be empty if no rec_engine/view_history is selected -->
      {% if dropdown_option %}
      {% for body_focus in rec_dct.keys() %}
      {% set outer_index = loop.index %}
      {% set workouts = rec_dct[body_focus] %}
      <div id="{{ body_focus}}">
        <h2 class="display-4" style="color:white;">{{ body_focus}}</h2>
        <div class="container-fluid">
          <!-- Hidden by default, will become visible once Slick can reload the page-->
          <div class="row text-center carousel loaded" style="visibility: hidden;">
          {% for _ , w in workouts.iloc[:9].iterrows() %}
          {% set i = outer_index*9 + loop.index %} <!-- unique index per workout tile -->
            <div class="col-md-12 mb-4 workout-card">
              <div class="card h-100">
                <img class="cropped-yt-thumb card-img-top" data-lazy="{{'https://img.youtube.com/vi/' + w['youtube_link'].replace('https://www.youtube.com/watch?v=', '').replace('=t','') + '/0.jpg'}}" alt="">
                <div class="card-body card-body-carousel">
                  <h4 id="workout-title-index-{{ i }}" class="card-title">{{ w['workout_title'] }}</h4>
                  <p id="workout-text-index-{{ i }}" class="card-text">Equipment: {{ w['equipment'] }} <br> Training Type:
                    {{ w['training_type'] }} <br> Body Focus: {{ w['body_focus'] }}
                  </p>
                </div>
                <div class="card-footer">
                  <!--{{ w['youtube_link'] }}-->
                  <p id="liked-status-{{ i }}" style="visibility: {{ 'hidden' if not w['liked'] }}">&#10084;&#65039; Liked
                  <p>
                  <p id="disliked-status-{{ i }}" style="visibility: {{ 'hidden' if not w['disliked'] }}">
                  <p>
                    <a id="startWorkout-index-{{ i }}" workout_id="{{w['workout_id']}}" onclick='openPlayerOverlay("{{ i }}")' class="btn btn-primary">Start Workout!</a>
                    <!--Video Embed Driver Below ( these are hidden from view and referenced by overlay.js :) )-->
                    <span id="video-index-{{ i }}" style="display: none;">{{ 'https://www.youtube-nocookie.com/embed/' +
                      w['youtube_link'].replace('https://www.youtube.com/watch?v=', '').replace('=t','') }}</span>
                    <span id="fb-link-index-{{ i }}" style="display: none;">{{ w['fb_link'] }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- Slick CSS -->
<script type="text/javascript" src="{{ url_for('static',filename='libraries/slick/slick.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/carousel.js') }}"></script>

<!-- rec engine logic-->
<script>
  var dropdown_option = {{ dropdown_option | tojson | safe }};
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/rec.js') }}"></script>
{% endblock scripts %}
